*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.todoList{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: 1px solid black;
    margin: .5rem 1rem;
    padding: 1rem;
}